@font-face {
  font-family: Banny;
  src: url(../fonts/Banny-BoldRound.otf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --orange: #e8c300;
  --orange-hover: #c50b15;
  --gray: #e5e5e5;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #fff;
}

img {
  max-width: 100%;
}

.header {
  background: url(../images/header-bg.jpg) center center;
  background-size: cover;
  position: relative;
}

.content {
  position: relative;
  max-width: 1280px;
  margin: auto;
}
.header-content {
  height: 100vh;
}

.header-content::before,
.header-content::after {
  content: "";
  position: absolute;
  top: 100px;
  width: 1px;
  bottom: 0;
  background: rgba(255, 255, 255, 0.2);
}
.header-content::before {
  left: 215px;
}
.header-content::after {
  right: 215px;
}

.header-navigation {
  height: 100px;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 225px;
}

.header-navigation-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  width: calc(50% - 110px);
}

.header-navigation-helm {
  position: absolute;
  top: 25px;
  left: 50%;
  margin-left: -75px;
}

.header-navigation__link {
  width: 25%;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.header-navigation__link:hover,
.header-navigation__link:focus {
  text-decoration: underline;
}

.header-info {
  display: grid;
  grid-template-columns: 150px 1fr 150px;
  column-gap: 20px;
  align-items: center;
}

.header-info__time {
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #ffffff;
}

.header-info__subtitle {
  display: block;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 14px;
}
.header-info__title {
  font-family: Banny, Arial, sans-serif;
  font-size: 96px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 36px;
  position: relative;
}

.header-info__title::before {
  position: absolute;
  content: "";
  border-radius: 50px;
  width: 60px;
  height: 5px;
  bottom: 0;
  left: 50%;
  margin-left: -30px;
  background: var(--orange);
}

.header-info__buttons {
  text-align: center;
}
.button {
  background-color: var(--orange);
  font-weight: 700;
  font-size: 12px;
  color: #ffffff;
  border-radius: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  margin: 0 20px;
  width: 200px;
  height: 60px;
  text-decoration: none;
  transition: background 0.2s;
}

.button:hover {
  background-color: var(--orange-hover);
  background-color: var(--orange-hover);
}

.input-text {
  display: block;
  width: 100%;
  background: var(--gray);
  height: 60px;
  padding: 0 20px;
  border: var(--orange);
  border-radius: 5px;
  color: rgba(51, 51, 51, 0.5);
}

.choices__inner {
  min-height: 60px;
  height: 60px;
  border: none;
  border-radius: 5px;
  outline: transparent;
  color: rgba(172, 60, 60, 0.5);
  background: var(--gray);
  padding: 0 20px;
}

.choices__list--single {
  padding: 0;
  font-size: 16px;
  color: rgba(51, 51, 51, 0.5);
}

.choices__placeholder {
  opacity: 1;
  color: rgba(51, 51, 51, 0.5);
}

.choices[data-type*="select-one"]:after {
  content: "";
  background: url("../svg/select-arrow.svg");
  width: 14px;
  height: 9px;
  border: none;
}

.choices[data-type*="select-one"].is-open:after {
  margin-top: -2.5px;
}

.header-info__explore {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.header-info__social {
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 20px auto;
  transition: background 0.2s;
}

.header-info__social:hover {
  background: var(--orange);
}
.about {
  padding: 100px 0;
  background: #fff;
}

.section-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  align-items: center;
}

.section-title {
  font-size: 36px;
  font-family: Banny, Arial, sans-serif;
  text-align: center;
  position: relative;
  margin-bottom: 13px;
  padding: 5px;
  text-transform: uppercase;
}

.section-title:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  margin-left: -30px;
  height: 5px;
  width: 60px;
  background: var(--orange);
  border-radius: 50px;
}

.section-text {
  font-size: 14px;
  line-height: 24px;
  display: block;
  text-align: center;
}

.section-text_bold {
  display: block;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 15px;
}

.section-content-media-image {
  position: relative;
  display: inline-block;
}

.section-content-media-image:before {
  content: "";
  width: 250px;
  height: 250px;
  position: absolute;
  right: -125px;
  top: 125px;
  display: block;
  border: 20px solid var(--orange);
  border-radius: 5px;
}

.section-content-media-image__img {
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.our-team {
  color: #fff;
  padding: 100px 0;
  background: url(../images/team-bg.jpg);
  background-size: cover;
}

.section-content-media_align-left {
  text-align: right;
}

.section-content-media-image_align-left:before {
  right: auto;
  left: -125px;
}

.book {
  padding: 100px;
}
.book-order {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
}
